.grid-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,0.5);
    overflow: hidden;
    padding: 10px;
}

table{
    border-collapse: collapse;
}

.grid *{
    padding: 5px 20px;
    text-align: left;
}

.gray-style{
    background-color: rgba(0,0,0,0.1);
}

thead{
    background-color: rgba(0,0,0,0.6);
}

tr:hover{
    background-color: rgba(0,0,0,0.3);
    cursor: pointer;
}

thead tr th{
    font-weight: 400;
    color: white;
}